<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- NOME DO CONTEXTO -->
	<display-name>WorkMeter</display-name>
	
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/view/error/404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/view/error/405.jsp</location>
	</error-page>
	
	<!-- i18n -->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>messages</param-value>
	</context-param>
	
	<!-- SPRING -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- SERVLET DO CORE-WEBRESOURCES -->
	<servlet>
		<servlet-name>webresources</servlet-name>
		<servlet-class>br.com.sourcesphere.core.webresources.servlet.ResourceServlet</servlet-class>
		<init-param>
			<param-name>cacheTimeout</param-name>
			<param-value>86400</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webresources</servlet-name>
		<url-pattern>/webresources/*</url-pattern>
	</servlet-mapping>

	<!-- TIMEOUT -->
	<session-config>
	 	<session-timeout>30</session-timeout>
	</session-config>
</web-app>
